{
    "env": {
        "node": true
    },
    "parserOptions": {
        "ecmaVersion": 2015,
        "sourceType": "module"
    },
    "plugins": [
        "eslint-plugin"
    ],
    "extends": [
        "./index.js",
        "plugin:eslint-plugin/recommended"
    ]
}
